fieldset {
	min-width: 0 !important;
	padding: 6px !important;
	margin: 6px !important;
	border: 2px solid #3345E3 !important;
	border-radius: 8px !important;
}
legend {
	padding: 0 4px !important;
	margin-bottom: .5rem !important;
	font-size: 17px !important;
	width:auto;
}
input[type="text"], input[type="password"], textarea, select {
	margin: 2px 1px !important;
	background-color: #FAFFFD !important;
	border: 1px solid #663 !important;
}
table {
	margin: auto !important;
	width: auto !important;
}
.homeClick{
   color: #333;
}
.homeClick:hover{
   color: #3061ff;
}
.cellOptions{
   width: 70%;
   margin: auto;
   display: flex;
   justify-content: space-around;
}
option{
   font-size: 8.5pt !important;
   height: 22px !important;
}
option:nth-child(even) {
	background-color: #F7F386 !important;
}
h2{font-size: 22px !important;}
h1, h2, h3, h4, h5{
 margin:4px 0 !important;
 text-align: center !important;
 }
.b{background-color: #FF9;}
#divContent{ width:100%; }
  .divImportant {border:3px solid #412BBF; padding:8px; margin:8px; }
#zips input[type=text], #sics  input[type=text]
{
    width:43px !important;
}
small
{
   font-size:8pt !important;
 }
.whiteLink
{
   color:#FFF !important;
   font-size:10pt !important;
   text-decoration:none !important;
   font-weight:700 !important;
}
.blackLink
{
   color:#111 !important;
   font-size:10pt !important;
   text-decoration:none !important;
   font-weight:700 !important;
}
.smallLink
{
   color:#33F;
   font-size:8pt;
   text-decoration:none;
   font-weight:700;
}
.lgTest
{
   font-size:13pt !important;
   font-weight:700 !important;
   text-align: center !important;
}
img
{
	border: none;
}
.slogan
{
	font-size: 11pt !important;
	color: #111 !important;
	padding-left:11px !important;
}
.tah10
{
	font-size: 10px !important;
	text-decoration: none !important;
	color: #000 !important;
}
.tah11
{
	font-size: 11px !important;
	text-decoration: none !important;
	color: #000 !important;
}
.ver10
{
	font-size: 10px !important;
	text-decoration: none !important;
	color: #000 !important;
}
.ver11
{
	font-size: 11px !important;
	text-decoration: none !important;
	color: #000 !important;
}
.tah9
 {
	font-size: 9px !important;
	text-decoration: none !important;
	color: #000 !important;
}
.ver9
{
	font-size: 9px !important;
	text-decoration: none !important;
	color: #000 !important;
}
h3{
	font-size: 14pt !important;
	text-decoration: none !important;
	color: #000 !important;
}
.bghor
{
	background-repeat: repeat-x;
	background-position: left top;
}

.bgtop
{
	background-repeat: no-repeat;
	background-position: left top;
}

.tah12
{
	font-size: 12px !important;
	text-decoration: none !important;
	color: #000 !important;
}
input[type=text], input[type=password], textarea
{
	 /* background-color: #CCD; */
	margin:1px !important;
	margin-right:2px !important;
	margin-top:2px !important;
	/*border:1px solid #FFCC00;*/
}
label
{
   font-size: 14px !important;
}
select
{
    background-color: #CCD !important;
    margin:1px !important;
	/*border:2px solid #e5a372;*/
}
div.flex-row{
	 display:flex !important;
     flex-direction: row !important;
     flex-wrap: wrap !important;
	 margin:auto !important;
}
tr, td{vertical-align: top;}
div#divUniq{max-width:660px;}
div.uniq{
   width:130px;
   }
div.flex-row div{
   width:120px;
   text-align:right;
   }
div#CanProv div, div#divInterest div, div#divJobTitles div , div#cell_carriers div{
   width:130px;
   }
.stateLabel, .stateLabel label
 {
   font-size:8pt;
   font-weight: 500;
 }
.stateCheck, .stateLabel input[type=checkbox], input[type=checkbox], input[type=radio]
{
  height:15px;
  width:15px;
}
#divButtons   /*  contol button include on bottom of search page  */
{
   padding:10px;
   font-size:9pt;
   font-weight:600;
}
#search_tips p    /*   for the search tips on lhs,12/13/2009  */
{
   font-size:9pt;
   color: black;
   font-weight: 600;
   text-indent:.3in;
}
.bodybg    /*  table outer  */
{
	background-color:#fff;
	background-repeat:repeat-x;
	width:15%;
}
.borderbg    /*  table outer  */
{
	background-color:#CCC;
	width:2px;
}
.Cap1
{
  font-size:12pt;
  font-weight:700;
  color:#30F;
}
.Cap2
{
  font-size:11pt;
  font-weight:600;
  color:#30F;
}
.sortTD { border:1px solid blue;}
input:focus{background-color: #FF8;}
textarea:focus{background-color: #FF8;}
option:focus{background-color: #EE8;}

.SearchLink, .SearchLink a {
  background-color: #FFC;
  text-decoration: none;
  width:120px;
  padding:4px;
  }
  #fsRecordTypes{
  text-align:center;
  }
  #fsRecordTypes label, #fsWorld label{
   font-size: 11pt;
   font-weight: 600;
  }

   #USStates{ width: 100% !important;  }
#USStates.flex-row div{ width: 150px!important; }
#USStates{ width: 100% !important; margin-top: 20px; }
#USStates.flex-row div{ width: 150px !important; margin-bottom: 6px !important;  }
#CanProv{ width: 100% !important; margin-top: 20px;  }
#CanProv.flex-row div{ width: 150px; margin-bottom: 6px !important; }
#divCountriesStates{  margin-top: 20px !important;  }
#divCountriesStates.flex-row input[type=radio]{ position: relative; top: 2px; }
#USStates.flex-row div{ width: 136px !important; padding: 0px !important; }
#USStates.flex-row div label{ font-size: 7pt !important; }
#CanProv.flex-row div{ width: 136px !important; padding: 0px !important; }
#CanProv.flex-row div label{ font-size: 7pt !important; }




  @media screen AND (max-width:520px)
  {
      table.tdBlock td, td.tdBlock {display:block;}
	  * {max-width:100% !important;}
	  textarea, select, option, input {max-width:90% !important;}
	  fieldset {padding: 2px; margin: 2px; border-width: 1px;}
	  #taCities{width:90%;}
	  #searchContainer{padding: 1px;}
	  #row50{margin: 0px;}
	  legend{font-size: 15px;}
      div.flex-row div {
       padding:4px;
       width: 50%;
   }
   .stateLabel, .stateLabel label {font-size: 9pt;}

 }

